/* Make sure the filename doesn't extend past the bounds of the container */
.shiny-input-container input[type=file] {
  /*overflow: hidden;*/
  max-width: 100%;
}

.checkbox label {
  font-weight: 600;
  font-size: small;
}

#shiny-notification-panel {
  bottom: 50%;
  right: 30%;
}

.shiny-notification {
  opacity: 0.99;
  border-radius: 6px;
  /*font-weight: 600;*/
  font-size: medium;
}

.shiny-notification-message {
  background-color: #39CCCC;
  color: #000000;
  border: 1px solid #51cfdf;
}

.shiny-notification-warning {
  background-color: #FFEB3B;
  color: #000000;
  border: 1px solid #ffe082;
}

.shiny-notification-error {
  background-color: #FF5722;
  color: #ffffff;
  border: 1px solid #FF5722;
}

.modal-open {
  font-size: medium;
}

.modal-lg {
  width: 95%;
  margin: 20px auto;
}
/*
.modal-dialog {
  width: 98%;
  margin: 20px auto;
}
*/
