/* Make sure the filename doesn't extend past the bounds of the container */
.shiny-input-container input[type=file] {
    overflow: hidden;
    max-width: 100%;
}

#shiny-notification-panel {
 /* top: 0px;
  right: 4%; */
}

.shiny-notification {
  background-color: #00BEED;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 6px;
  opacity: 0.98;
  padding: 10px 8px 10px 10px;
  margin: 2px;
}