/* Syntax highlighting ---------------------------------------------------- */
.fu      {color: #3498db;} /* function */
.ch,.st  {color: #009688;} /* string */
.kw      {color: #3498db;} /* keyword */